.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 12, 59);
}

.app__container {
  background-color: red;
  border-radius: 5px;
  padding: 30px;
}